# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# note: .env is a shell file so there can't be spaces around '='

# NODE_ENV=test
PORT=3000
MONGO_URI=mongodb+srv://SECURITY-USER:Co4F1vA2ZIiRCwIR@cluster0.taepg9k.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0